:root {
  --color: #7eb101;
  --black: #2c2c2c;
  --white: #fefefe;
  --grey: #f5f5f5;
  --grey-light: #f5f5f5;
  --placeholder: #c4c4c4;
  --button-color: rgb(188, 26, 26);
  --button-color-hover: rgb(88, 11, 11);
  --red: #ff0000;
  --backdrop: rgba(94, 99, 99, 0.7);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: auto;
  min-height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 80px;
  z-index: 10;
  background: var(--black);
  color: var(--white);
  padding: 20px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (min-width: 1280px) {
  .header__content {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__content {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .header__content {
    max-width: 375px;
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0px;
}
.section:first-child {
  margin-top: 70px;
}
.section.section--full {
  min-height: 100vh;
  margin-top: 0px;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  flex: 1;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}
.iframeWrapper {
  display: block;
  margin: 30px auto;
  border: 4px solid #ccc;
  max-width: 375px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.iframe {
  width: 100%;
  height: 6000px;
}

.footer {
  width: 100%;
  flex: none;
  height: 70px;
  border-top: 1px solid var(--black);
  padding: 20px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (min-width: 1280px) {
  .footer__content {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__content {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    max-width: 375px;
  }
}